<div id="<%= dom_id ambiente %>">
  <p>
    <strong>Nome:</strong>
    <%= ambiente.nome %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= ambiente.descricao %>
  </p>

  <div>
    <%= link_to 'Mostrar lembretes', user_ambiente_lembretes_path(@user, ambiente) %>
  </div>

</div>
