<h1>Editando o ambiete</h1>

<%= render "form", ambiente: @ambiente %>

<br>

<div>
  <%= link_to "Ver detalhes desse ambiente", [@user, @ambiente] %> |
  <%= link_to "Voltar para Ambientes", user_ambientes_path(@user) %>
</div>