<h1>Editando o ambiete</h1>

<%= render "form", ambiente: @ambiente %>

<br>

<div>
  <%= link_to "Ver detalhes desse ambiente", @ambiente %> |
  <%= link_to "Voltar para Ambientes", ambientes_path %>
</div>