<p style="color: green"><%= notice %></p>

<h1>Ambientes</h1>

<div id="ambientes">
  <% @ambientes.each do |ambiente| %>
    <%= render ambiente %>
    <p>
      <%= link_to "Show this ambiente", ambiente %>
    </p>
  <% end %>
</div>

<%= link_to "New ambiente", new_ambiente_path %>
