<p>
  <strong>Titulo:</strong>
  <%= @subitem.titulo %>
</p>
 
<p>
  <strong>Texto:</strong>
  <%= @subitem.texto %>
</p>

<p>
    <%= link_to 'Editar Sub-item', edit_ambiente_lembrete_subitem_path(@ambiente, @lembrete, @subitem) %>
    <%= button_to "Deletar Sub-item", ambiente_lembrete_subitem_path(@ambiente, @lembrete, @subitem), method: :delete %>
  </p>