<h1>Edit Subitem</h1>

<%= render "form", subitem: @subitem %>

<br>

<div>
  <%= button_to "Deletar Subitem", user_ambiente_lembrete_subitem_path(current_user, @ambiente, @lembrete, @subitem), method: :delete %>
  <%= link_to "Voltar", user_ambiente_lembrete_subitems_path(current_user, @ambiente, @lembrete) %>
</div>