<p>
  <strong>Titulo:</strong>
  <%= @subitem.titulo %>
</p>
 
<p>
  <strong>Texto:</strong>
  <%= @subitem.texto %>
</p>

<p>
  <%= link_to 'Editar Sub-item', edit_user_ambiente_lembrete_subitem_path(current_user, @ambiente, @lembrete, @subitem) %>
  <%= button_to "Deletar Sub-item", user_ambiente_lembrete_subitem_path(current_user, @ambiente, @lembrete, @subitem), method: :delete %>
</p>