<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to 'Não se Esqueça', root_path, class: "navbar-brand"%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <% if user_signed_in? %>
            <li class="nav-item"><%= link_to 'Ambientes', user_ambientes_path(current_user), class: "nav-link"%></li>
          <% end %>
      </ul>
      <div class="navbar-right">
        <%= render 'layouts/accounts_links' %>
      </div>
    </div>
  </div>
</nav>