<h1>Editing lembrete</h1>

<%= render "form", lembrete: @lembrete %>

<br>

<div>
  <%= link_to "Detalhes", [current_user, @ambiente, @lembrete] %> |
  <%= link_to "Voltar", user_ambiente_lembretes_path(current_user, @ambiente) %>
</div>
