<h1>Editing lembrete</h1>

<%= render "form", lembrete: @lembrete %>

<br>

<div>
  <%= link_to 'Mostrar Sub-itens', ambiente_lembrete_subitem_index_path(@ambiente, @lembrete) %> |
  <%= link_to "Detalhes", [@ambiente, @lembrete] %> |
  <%= link_to "Voltar", ambiente_lembretes_path(@ambiente) %>
</div>
