<p style="color: green"><%= notice %></p>

<%= render @lembrete %>

<div>
  <%= link_to "Editar lembrete", edit_user_ambiente_lembrete_path(current_user, @ambiente, @lembrete) %> |
  <%= link_to "Voltar", user_ambiente_lembretes_path %>
</div>
