<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Olá, </h1>
    <h3> Informamos que o lembrete: '<%= @lembrete.titulo %>' expirou. </h3>
  </body>
</html>